
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TemplateWorld | Conjure Admin</title>
    <link href="~/Areas/Admin/fileadmin/css/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Areas/Admin/fileadmin/font/stylesheet.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Areas/Admin/fileadmin/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Areas/Admin/fileadmin/js/jquery.uniform.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      $(function(){
        $("input, select").uniform();
      });
    </script>
    <link rel="stylesheet" href="~/Areas/Admin/fileadmin/css/scoll.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Areas/Admin/fileadmin/css/uniform.defaultstyle3.css" type="text/css" media="screen" />
    <script src="~/Areas/Admin/fileadmin/YUI/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/fileadmin/YUI/2.6.0/build/calendar/calendar-min.js" type="text/javascript"></script>
    <script type="text/javascript">
 $(document).ready(function(){
     $('.ddm').hover(
	   function(){
		 $('.ddl').slideDown();
	   },
	   function(){
		 $('.ddl').slideUp();
	   }
	 );
 });
    </script>
    <script type="text/javascript" src="~/Areas/Admin/fileadmin/js/DD_roundies_0.0.2a-min.js"></script>
    <script type="text/javascript">
DD_roundies.addRule('#tabsPanel', '5px 5px 5px 5px', true);

    </script>
    <script type="text/javascript" src="~/Areas/Admin/fileadmin/js/script-carasoul.js"></script>
    <link href="~/Areas/Admin/fileadmin/YUI/2.6.0/build/fonts/fonts-min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/fileadmin/YUI/2.6.0/build/calendar/assets/skins/sam/calendar.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
	$(document).ready(function()
{

   $( '#checkall' ).live( 'click', function() {

				$( '.chkl' ).each( function() {
					$( this ).attr( 'checked', $( this ).is( ':checked' ) ? '' : 'checked' );
				}).trigger( 'change' );

			});
  $('#checkall').click(function(){


 $('span').toggleClass('checked');
$('#checkall').toggleClass('clicked');

 });
	});
    </script>
</head>
<body class="bgc">
    <div id="admin">
        <div id="wrap">
            <div id="head">
                <h1>
                    <a href="index.html">
                        conjure admin<br />
                        <span>ADMIN TEMPLATE</span>
                    </a>
                </h1>
                <ul id="menu">
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="styles.html">Styles</a></li>
                    <li><a href="forms.html">Forms</a></li>
                    <li><a href="#">Table Data</a></li>
                    <li class="ddm">
                        <a>Multi-Level Menu</a>
                        <ul class="ddl">
                            <li><a href="#">Multi-Level Menu</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">FAQ'S</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>
                </ul>
                <ul id="tablist">
                    <li><a href="#a"><span>Dashboard Links</span></a></li>
                    <li><a href="#b"><span>Image Gallery</span></a></li>
                </ul>
                <div id="tabsPanel">
                    <div id="a" class="tab_content">
                        <div class='carousel_container'>
                            <div class='left_scroll'><img src='~/Areas/Admin/fileadmin/images/leftArrow.png' alt="" /></div>
                            <div class='carousel_inner'>
                                <ul class='carousel_ul'>
                                    <li><a class="ico1" href='#'></a></li>
                                    <li><a class="ico2" href='#'></a></li>
                                    <li><a class="ico3" href='#'></a></li>
                                    <li><a class="ico4" href='#'></a></li>
                                    <li><a class="ico5" href='#'></a></li>
                                    <li><a class="ico6" href='#'></a></li>
                                    <li><a class="ico7" href='#'></a></li>
                                    <li><a class="ico8" href='#'></a></li>
                                    <li><a class="ico9" href='#'></a></li>
                                </ul>
                            </div>
                            <div class='right_scroll'><img src='~/Areas/Admin/fileadmin/images/rightArrow.png' alt="" /></div>
                        </div>
                    </div>
                    <div id="b" class="tab_content">
                        <div class='carousel_container'>
                            <div class='left_scroll2'><img src='~/Areas/Admin/fileadmin/images/leftArrow.png' alt="" /></div>
                            <div class='carousel_inner'>
                                <ul class='carousel_ul2'>
                                    <li><a class="ico1" href='#'></a></li>
                                    <li><a class="ico2" href='#'></a></li>
                                    <li><a class="ico3" href='#'></a></li>
                                    <li><a class="ico4" href='#'></a></li>
                                    <li><a class="ico5" href='#'></a></li>
                                    <li><a class="ico6" href='#'></a></li>
                                    <li><a class="ico7" href='#'></a></li>
                                    <li><a class="ico8" href='#'></a></li>
                                    <li><a class="ico9" href='#'></a></li>
                                </ul>
                            </div>
                            <div class='right_scroll2'><img src='~/Areas/Admin/fileadmin/images/rightArrow.png' alt="" /></div>
                        </div>
                    </div>
                    <!--Tab End-->
                </div>
                <img src="~/Areas/Admin/fileadmin/images/shadow.png" class="shadow" alt="" />
                @RenderBody();
            </div>
        <div class="push"></div>
    </div>
    <div id="foot">
        <p>© Conjure Admin. All rights reserved.  |  Designed by: <a href="http://www.templateworld.com/" target="_blank">Template World</a></p>
    </div>
</body>
</html>
