
@{
    ViewBag.Title = "Artists";
    Layout = "~/Views/Shared/main_layout.cshtml";
}

<div class="content">
    <!--start-cartires-page---->
    <div class="Cartires">
        <h5><span>Our</span> Artists</h5>
        <div class="cartires-grids">
            <div class="cartire-grid">
                <div class="cartire-grid-img">
                    <img src=@Url.Content("~/Content/userfile/images/a1.jpg") title="tries" />
                </div>
                <div class="cartire-grid-info">
                    <ul>
                        <li><span>New</span> |&nbsp;&nbsp;Available !</li>
                    </ul>
                    <h3>Fondmetal 7500</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="cartire-grid-cartinfo">
                    <h4>REDUCED PRICE!</h4>
                    <span>$502.00</span>
                    <ul>
                        <li><input type="checkbox"></li>
                        <li><p>Select to compare</p></li>
                    </ul>
                    <a href="singlepage.html">Add to Cart</a><br />
                    <a href="singlepage.html">View</a>
                </div>
                <div class="clear"> </div>
            </div><br />
            <div class="cartire-grid">
                <div class="cartire-grid-img">
                    <img src=@Url.Content("~/Content/userfile/images/a2.jpg") title="tries" />
                </div>
                <div class="cartire-grid-info">
                    <ul>
                        <li><span>New</span> |&nbsp;&nbsp;Available !</li>
                    </ul>
                    <h3>Fondmetal 7500</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="cartire-grid-cartinfo">
                    <h4>REDUCED PRICE!</h4>
                    <span>$502.00</span>
                    <ul>
                        <li><input type="checkbox"></li>
                        <li><p>Select to compare</p></li>
                    </ul>
                    <a href="singlepage.html">Add to Cart</a><br />
                    <a href="singlepage.html">View</a>
                </div>
                <div class="clear"> </div>
            </div><br />
            <div class="cartire-grid">
                <div class="cartire-grid-img">
                    <img src=@Url.Content("~/Content/userfile/images/a3.jpg") title="tries" />
                </div>
                <div class="cartire-grid-info">
                    <ul>
                        <li><span>New</span> |&nbsp;&nbsp;Available !</li>
                    </ul>
                    <h3>Fondmetal 7500</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="cartire-grid-cartinfo">
                    <h4>REDUCED PRICE!</h4>
                    <span>$502.00</span>
                    <ul>
                        <li><input type="checkbox"></li>
                        <li><p>Select to compare</p></li>
                    </ul>
                    <a href="singlepage.html">Add to Cart</a><br />
                    <a href="singlepage.html">View</a>
                </div>
                <div class="clear"> </div>
            </div><br />
            <div class="cartire-grid">
                <div class="cartire-grid-img">
                    <img src=@Url.Content("~/Content/userfile/images/g6.jpg") title="tries" />
                </div>
                <div class="cartire-grid-info">
                    <ul>
                        <li><span>New</span> |&nbsp;&nbsp;Available !</li>
                    </ul>
                    <h3>Fondmetal 7500</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="cartire-grid-cartinfo">
                    <h4>REDUCED PRICE!</h4>
                    <span>$502.00</span>
                    <ul>
                        <li><input type="checkbox"></li>
                        <li><p>Select to compare</p></li>
                    </ul>
                    <a href="singlepage.html">Add to Cart</a><br />
                    <a href="singlepage.html">View</a>
                </div>
                <div class="clear"> </div>
            </div><br />
        </div>
    </div>
    <!--End-cartires-page---->
</div>